# CIS508: Assignment 1

**Objective** <br />
>The primary goal of this assignment is for students to begin creation of a Jupyter Notebook "template" that can be re-used and repurposed in future Machine Learning endeavors.  Questions in this assignment are geared towards tasks that will require the build-out of important data exploration and data clean-up functionality - functionality that will be used repeatedly in the future.  

**Instructions** <br />
>Answer all questions below.  Some questions are conceptual and will require answers to be typed out in markdown cells.  Other questions will require successful creation and running of Python code using various libraries discussed in class and in the book.  Remember!  If you don't know how to do something in Python, Google "how do I [do this thing] in Python."  I promised you will find answers and examples to try out.  This is an important part of the learning process.  If, you get really stuck on anything, feel free to reach out to me or our TA (Shreeshiv) for help.
<br>
<br>
**Note**: any datasets required in the questions below can be found in the course data folder (link is on our Canvas home page)

**Warning** <br />
>I have no clear way to "Police" your work or your integrity.  In short, I expect your work to be YOUR WORK.  That said, in principle, I don't have a problem with classmates trying to figure things out together.  But if you happen to see a code snippet from a fellow classmate that you decide to include in your code - MAKE IT YOUR OWN!.  How?  With documentation.  I expect you to do the same if you copy and re-use code from some stranger on Stackoverflow.  Make sure you know what the code is doing and prove that you do with documentation and comments in your code.

**Deliverables** <br />
>1. Before midnight on the due date, submit ONE Jupyter Notebook file (the file should looking something like this - "**MyAssignment1Notebook.ipynb**").  Submit this file through the assignment page in Canvas.  I repeat - ONE Jupyter notebook.
<br><br>Immediately following the due date/time you will receive an email containing the homework answers/solutions.  Spend some time over the next few days comparing your work to what you see in the solution.<br><br>
2. **PRIOR** to the assignment of your next homework, submit an updated version of your original Jupyter Notebook, this time containing a brief assessment of your self-evaluation.  You can type this in markdown at the bottom of your Jupyter Notebook.

---

## Question 1
Assuming that data mining techniques are to be used in the following cases, identify whether the task required is supervised or unsupervised learning.

    a. Using analysis of data from prior customers to decide whether to 
    issue a loan to an applicant based on demographic and financial data
    
   ><font color='blue'> Your answer here </font>

    b.In an online bookstore, making recommendations to customers 
    concerning additional items to buy based on the buying patterns
    in prior transactions.
    
   ><font color='blue'> Your answer here </font>

    c. Identifying a network data packet as dangerous
    (virus, hacker attack) based on comparison to other 
    packets whose threat status is known.

   ><font color='blue'> Your answer here </font>

    d. Identifying segments of similar customers

   ><font color='blue'> Your answer here </font>
   
    e. Predicting whether a company will go bankrupt based on comparing
    its financial data to those of similar bankrupt and nonbankrupt firms.

   ><font color='blue'> Your answer here </font>
   
    f. Estimating the repair time required for an aircraft based on a trouble ticket.

   ><font color='blue'> Your answer here </font>

    g. Automated sorting of mail by zip code scanning.

   ><font color='blue'> Your answer here </font>

    h. Printing of custom discount coupons at the conclusion of a grocery 
    store checkout based on what you just bought and what others have bought previously.

   ><font color='blue'> Your answer here </font>

## Question 2
Using the concept of overfitting, explain why when a model is fit to training data, zero error with those data is NOT necessarily good.

   ><font color='blue'> Your answer here </font>

## Question 3
Run the cell below, then normalize the data in the dataframe that has been created for you.
You'll have to write some Python to do this.

In [2]:
# Create list of ages
age = [25,56,65,32,41,49]

# Create list of income values
income = [49000,156000,99000,192000,39000,57000]

# Pull lists together in a dictionary
data = {'Age':age,         # "Age" is a key, "age" are the values
        'Income':income    # "Income" is a key, "income are the values"
       }

import pandas as pd

df = pd.DataFrame(data)  # Create dataframe called "df"
df                       # output df when cell runs
                         # Now you can refer to "df" below and use variable transformations to 
                         # normalize the Age and Income fields.

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000
5   49   57000

In [ ]:
# Write your own code here

In [5]:
import pandas as pd
from sklearn import preprocessing

x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled,columns=["age","income"])

In [6]:
df

     age    income
0  0.000  0.065359
1  0.775  0.764706
2  1.000  0.392157
3  0.175  1.000000
4  0.400  0.000000
5  0.600  0.117647

## Question 4
The datset ***ToyotaCorolla.csv*** contains data on used cars on sale during the late summer of 2004 in the Netherlands.  It has 1436 records containing details on 38 attributes, including *Price*, *Age*, *Kilometers*, *HP*, and other specifications.  We plan to analyze the data using various data mining techniques described in future chapters.  Prepare the data for use as follows.

- The dataset has two categorical attributes, *Fuel Type* and *Color*.  Describe how you would convert these to binary variables.  Show me how you do this in **Python**.  Hint: you can use functionality from either **pandas** or **sklearn** to do this.

In [ ]:
test=pd.read_csv(r"")

## Question 5
**Shipments of Household Appliances: Line Graphs**<br>
The file *ApplianceShipments.csv* contains the series of quarterly shipments (in millions of dollars) of US household appliances between 1985 and 1989.

    a. Create a well-formatted time-series line plot using Python.

    b. Does there appear to be a quarterly pattern?  For a closer view of the patterns, 
    zoom in to the range of 3500-5000 on the y-axis.  You can do this with a separate 
    chart OR with an interactive graph using Plotly.

    c. Using Python, create one chart with four separate lines, one line for each of 
    Q1, Q2, Q3, and Q4. Each line will reflect shipments for a given quarter, plotted 
    across all years in the data.  In other words, years will go along the horizontal 
    axis and total shipments will go along the y-axis - one shipment line for each 
    separate quarter.  Are there any obvious differences you can see between the quarters?

    d. Using Python, create a line graph of the series at a yearly aggregated level 
    (total shipments for each year).

## Question 6
**Sales of Riding Mowers: Scatter Plots**<br>
A company that manufactures riding mowers wants to identify the best sales prospects for an intensive sales campaign.  In particular, the manufacturer is interest in classifying hosueholds as prospective owners or nonowners on the basis of Income (in 1000s) and Lot Size (in 1000ft squared).  The marketing expert looked at a random sample of 24 households, given in the file *Riding-Mowers.csv* <br>


    a. Using Python, create a scatter plot of Lot Size vs. Income, 
    color-coded by the outcome variable owner/nonowner.  
    Make sure to create a well-formatted plot with clear labels.

## Question 7
**Laptop Sales at a London Computer Chain: Bar Charts and Boxplots**<br>
The file *LaptopSalesJanuary2008.csv* contains data for all sales of laptops at a computer chain in London in January 2008.  This is a subset of the full dataset that includes data for the entire year.

    a. Create a bar chart, showing the average retail price by store.  
    Which store has the highest average?  
    Which has the lowest?

    b. To better compare retail prices across stores, 
    create side-by-side boxplots of retail price by store.  
    Now compare the prices in the twwo stores from (a).  
    Does there seem to be a difference between their price distributions?

    c. Create a correlation heatmap with the data provided. 
    Identify and call out 1-2 examples of highly correlated (- or +) variables